#rma-widget, #ad-container {
    width: 970px;
    height: 250px;
}

    /*    .item img {
            margin: 10px 10px 0 10px;
        }
        .item h4 {
            line-height: 0;
            padding-left: 10px;
        }
        .item p {
            padding-left: 10px;
        }
*/


@font-face {
	font-family: HelveticaLTStd-BoldCond;
	src: url(/css/fonts/HelveticaLTStd-BoldCond.otf);
}
@font-face {
	font-family: helveticanw;
	src: url(/css/fonts/helveticanw.ttf);
}
@font-face {
	font-family: MyriadPro-Regular;
	src: url(/css/fonts/MyriadPro-Regular.otf);
}

.item img {
	width: 100%;
}
.item .content {
	float: left;
	width: 220px;
}
.item .content h4 {
	font-family: HelveticaLTStd-BoldCond;
	margin: 0;
	font-size: 16px;
}
.item .content p {
	font-family: MyriadPro-Regular;
	margin: 0;
	font-size: 12px;
}
.item .content span {
	font-family: helveticanw;
	font-weight: bold;
	font-size: 12px;
}
.logo {
	width: 100%;
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.logo img {
	max-width: 100%;
}
.glide__track {
	width: 630px;
    position: absolute;
    right: 0;
    top: 25px;
}